<div class=" d-flex h-100 text-center text-white " style="background-color: #e7e4e4;">
<div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">
    <main>
        <h1>Welcome To My Website.</h1>
        <p class="lead">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        <p class="lead box">
          <!-- <a routerLink="products" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go To Products</a>
          <a routerLink="posts" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go To Posts</a>
          <a routerLink="users" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go To Users</a> -->
          <!-- <a routerLink="/auth/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a> -->
        </p>
      </main>
</div>
</div>
