<div class=" d-flex h-100 text-center text-white " style="background-color: #e7e4e4;">
<div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">
    <main>
        <h1>Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead box">
          <a routerLink="products" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go To Products</a>
          <a routerLink="posts" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go To Posts</a>
          <a routerLink="users" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Go To Users</a>
          <!-- <a routerLink="/auth/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a> -->
        </p>
      </main>
</div>
</div>
